<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<listeners>
    <listener class-name="com.qtpselenium.util.TestsListenerAdapter" />
</listeners>
    




<test name="Login Test">
    <classes>
        <class name="com.qtpselenium.salesforce.testcases.LoginTest" ></class>  
    </classes>
</test>

<

</suite>
